<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.hylda_1202154346_studycase6">

    <activity
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Barbie Cafetaria"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="WrongManifestParent">
        <activity
            android:name=".Login"
            android:theme ="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity
                android:name=".add"
                android:parentActivityName=".MainActivity"
                tools:ignore="WrongManifestParent">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
    </activity>
    <activity
        android:name=".Comment"
        android:parentActivityName = ".MainActivity"
        tools:ignore="WrongManifestParent">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

    </activity>
    </application>

</manifest>